html {
  scroll-behavior: smooth;
  font-size: 1px;
}
body {
  background-color: $main-bg;
  color: $color-text;
  font-family: $ff;
}
.wrapper {
  max-width: 1950px;
  padding: 0 15px;
}
.main-container {
  overflow-x: hidden;
  max-width: 1440px;  
  margin-inline: auto;
  display: flex;
  gap: 15rem;
  @media screen and (min-width:1200px) {
	gap: 70px;
  }
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dashboard__top {
  @include text($ff, 14rem, inherit, 500, $color-black);
  padding: 41rem 0 51rem;
  @media screen and (min-width:1200px) {
    font-size: 24px;
    }
    @include tablet-small-768 {
      display: flex;
      align-items: center;
      gap: 30px;
    }
}
