$ff: 'Poppins', sans-serif;


$color-black: #000;
$color-white: #fff;
$color-text: #292D32;
$color-grey: #B5B7C0;
$color-grey-light: #eee;
$color-blue: #5932EA;
$accent: #16C098;
$status-text-green: #008767;
$status-bg-green: rgba(22, 192, 152, 0.38);
$status-text-red: #DF0404;
$status-bg-red: #FFC5C5;
$contact-bg: rgba(30, 30, 32, 0.5);
$color-dots: #121213;
$slider-items: #1E1E20;

$transition: .3s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;