.customers {
  background: $main-bg;
  padding-top: 41px;

  &__top {
    @include text($ff, 24rem, inherit, 500, $color-black);
    padding-bottom: 51rem;
  }

  &__body {
    max-width: 968px;
    width: 100%;
    background: $color-white;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
    border-radius: 20px;
    padding: 30px 0 38px;
  }

  .header {
    @include flex-between;
    padding-bottom: 40rem;
    padding: 0 53rem 40rem 38rem;

    &__title {
      @include text($ff, 22rem, inherit, 600, $color-black);
      letter-spacing: -0.22px;
      margin-bottom: 7rem;
    }

    &__desc {
      @include text($ff, 14rem, inherit, 400, $accent);
      letter-spacing: -0.14px;
    }

    &__search {
      .search__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 7px 8px;
        border-radius: 10px;
        background: $input-bg;
        border: 2px solid transparent;
        transition: $transition;
        &:hover {
          border: 2px solid $color-grey-dark;
        }

        input {
          width: 100%;
          background: transparent;
          border: 0;
          outline: 0;
          @include text($ff, 12rem, inherit, 400, $color-grey-dark);
          letter-spacing: -0.12px;
          &::placeholder {
            @include text($ff, 12rem, inherit, 400, $color-grey);
            letter-spacing: -0.12px;
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    text-align: left;
    padding: 0 44rem 0 38rem;
    overflow-x: scroll;
    position: relative;
    &::after {
      content: " ";
      display: inline-block;
      height: 5px;
      color: red;
      z-index: 2;
      width: 100px;
      position: absolute;
      top: 0;
      left: 0;
    }
    th {
      &:not(:last-of-type) {
        padding-right: 10px;
      }
      @include text($ff, 14rem, inherit, 500, $color-grey);
      letter-spacing: -0.14px;
      padding-bottom: 14px;
    }
    td {
      &:not(:last-of-type) {
        padding-right: 10px;
      }
      @include text($ff, 14rem, inherit, 500, $color-text);
      letter-spacing: -0.14px;
      padding: 24px 0;
      border-bottom: 1px solid $color-grey-light;
    }
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 4px 12px;
    &._green {
      border: 1px solid $status-text-green;
      background: $status-bg-green;
      color: $status-text-green;
    }
    &._red {
      border: 1px solid $status-text-red;
      background: $status-bg-red;
      color: $status-text-red;
    }
  }
  .footer {
    padding: 32rem 40rem 41rem 38rem;
    @include flex-between;

    &__info {
      @include text($ff, 14rem, inherit, 500, $color-grey);
      letter-spacing: -0.14px;
    }
    &__pagination {
      .pagination {
        gap: 12px;
      }

      .page-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 6px 10px;
        border: 1px solid $color-grey-light;
        background: $pagin-bg;
        transition: $transition;
        &.disabled {
          padding: 6px 9px;
        }
        &.active {
          color: $color-white;
          background: $color-blue;
        }
        &:not(.disabled):hover {
          background: $color-blue;
          a {
            color: $color-white;
          }
        }
        a {
          @include text($ff, 12rem, 100%, 500, $pagin-text);
          letter-spacing: -0.12px;
          padding: 0;
          border: none;
          background: transparent;
        }
      }
      .material-symbols-outlined {
        font-size: 12px;
        color: $pagin-text;
      }
    }
  }
}
