.sidebar {
  min-height: 100vh;
  max-width: 306px;  
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 41rem 15rem 76rem;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  @media screen and (min-width:1200px) {
    padding: 41rem 28rem 76rem;
    }
  .header {
    display: flex;
    align-items: center;
    padding-bottom: 53rem;
    @media screen and (max-width:768px) {
      flex-direction: column;
      padding-bottom: 23rem;
       }
    img {
      margin-right: 8rem;
      max-width: 37px;
      @media screen and (max-width:768px) {
        max-width: 20rem;
        }
    }
    &__text {
      @include text($ff, 18rem, inherit, 600, $color-black);
      letter-spacing: 0.26px;
      margin-right: 4rem;
      @media screen and (min-width:1200px) {
        font-size: 26rem;
        }
      @media screen and (max-width:768px) {
         font-size: 12px;
          }
    }
    &__version {
      @include text($ff, 10rem, inherit, 500, $color-version);
      color: #838383;
      letter-spacing: -0.1px;
      align-self: flex-end;
      padding-bottom: 5px;
      @media screen and (max-width:768px) {
        display: none;
         }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: $transition;
    border-radius: 8px;
    padding: 11rem 9rem 11rem 11rem;
    color: $sidebar-items;
    a {
      transition: $transition;
      color: $sidebar-items;      
    }
    &:hover {
      background: $color-blue;
      color: $color-white;
      svg path {
        fill: $color-white;
      }
      .material-symbols-outlined {
        color: $color-white;
      }
      a {
        color: $color-white;
      }
    }
    &.active {
      background: $color-blue;
      color: $color-white;
      svg path {
        fill: $color-white;
      }
      .material-symbols-outlined {
        color: $color-white;
      }
    }
    
      
    

    &__icon {
      width: 24px;
      height: 24px;
      svg {
        width: 24px;
        height: 24px;
        transition: $transition;
      }
    }

    &__title {
      @include text($ff, 14rem, inherit, 500, inherit);
      letter-spacing: -0.14px;
      margin-right: auto;
      transition: $transition;
      @media screen and (max-width:768px) {
        font-size: 12rem;
        display: none;        
      }
    }
    &_arrow {
      max-width: 16px;
      height: 16px;
    }
    .material-symbols-outlined {
      font-size: 16px;
      cursor: pointer;
      color: $sidebar-items;
      transition: $transition;
    }
  }
  .item {
    &:first-child,
    &:nth-child(3),
    &:nth-child(4) {
      &:hover {
        background: $color-blue;
        color: $color-white;
        svg path {
          stroke: $color-white;
          fill: inherit;
        }
      }
      &.active {
        background: $color-blue;
        color: $color-white;
        svg path {
          stroke: $color-white;
          fill: inherit;
        }
      }
    }
  }
  .footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    &__img {
      max-width: 42px;
    }

    &__info {
    }

    &__title {
      @include text($ff, 14rem, inherit, 500, $color-black);
      letter-spacing: 0.14px;
    }

    &__text {
      @include text($ff, 14rem, inherit, 500, $color-grey-dark);
      letter-spacing: 0.12px;
    }
  }
}
@media screen and (max-width:768px) {
  .sidebar__list_item {
  &:hover {
    .item__title {
      display: inline-block;
    }
  }
}
}
